/--TEMPLATE--.lua
/Elite4Johto.lua
/FogBadgeQuest.lua
/GlacierBadgeQuest.lua
/GoldenrodCityQuest.lua
/HiveBadgeQuest.lua
/IlexForestQuest.lua
/MineralBadgeQuest.lua
/PlainBadgeQuest.lua
/RisingBadgeQuest.lua
/SproutTowerQuest.lua
/StartJohtoQuest.lua
/StormBadgeQuest.lua
/ZephyrBadgeQuest.lua
