/02_battle_issue_fixed_universal_traveler.lua
/DragonsFaith.lua
/EngFrenchMoveTranslator.lua
/EngFrenchPokeTranslator.lua
/FazeRain.lua
/KantoMap.lua
/Questing.lua
/Route8_Ditto.zip
/Universal_Leveler_Route_24.lua
/attack.lua
/killax-d.lua
/killax-d2.lua
/killax-d3.lau.lua
/oxee.lua
/savage_man.lua
/test_sublime.lua
/test_trainer_battles.lua
/test_trainer_battles_Dig, Headbutt and Discover.lua
/xenos_frost_simple_catcher_route8_ditto.lua
/yazid.lua
