/--TEMPLATE--.lua
/BoulderBadgeQuest.lua
/BuyBikeQuest.lua
/CascadeBadgeQuest.lua
/CinnabarKeyQuest.lua
/EarthBadgeQuest.lua
/Elite4Kanto.lua
/ExpForElite4Kanto.lua
/ExpForSaffronQuest.lua
/GoToJohtoQuest.lua
/HmFlashQuest.lua
/HmSurfQuest.lua
/LanceVermilionQuest.lua
/MarshBadgeQuest.lua
/MoonFossilQuest.lua
/PalletStartQuest.lua
/PokeFluteQuest.lua
/RainbowBadgeQuest.lua
/ReviveFossilQuest.lua
/RockTunnelQuest.lua
/RocketCeladonQuest.lua
/SSAnneQuest.lua
/SaffronGuardQuest.lua
/SilphCoQuest.lua
/SnorlaxQuest.lua
/SoulBadgeQuest.lua
/StartKantoQuest.lua
/ThunderBadgeQuest.lua
/ToCinnabarQuest.lua
/ViridianSchoolQuest.lua
/VolcanoBadgeQuest.lua
