/DynamoBadge.lua
/FromLittlerootToWoodsQuest.lua
/GetTheOrbs.lua
/KnuckleBadgeQuest.lua
/MagmaHideout.lua
/StoneBadgeQuest.lua
/ToBalanceBadge.lua
/ToFortreeCity.lua
/ToLavaridgeTown.lua
/ToMossdeepCity.lua
/beatDeoxys.lua
/e4Hoenn.lua
/getSLetter.lua
/meetKyogre.lua
/toMauville.lua
